<% @posts.each do |id, title, content| %>
    <li>
    <a href="/posts/<%= id%>">
    <h2><%=title%></h2>
    </a>
        <p><%=content%></p>
    </li>
<%end%>

<div id="nav">
    <a href="/home">Home</a>  |  <a href="/posts/new">Create New Post</a>
</div>