<div id="error">
  <h1>Uh oh...</h1>
  <p>Something went wrong! Try again. <br><br>
  
  <button onclick="goBack()">Go Back</button>
    <script>
    function goBack() {
    window.history.back();
    }
    </script><br><br>

  <img src="https://media.giphy.com/media/8L0Pky6C83SzkzU55a/giphy.gif" alt="Uh oh...">
 </div>