<h1>Welcome Back! Please Log In.</h1><br>

<form class="" action="/login" method="post">
    <label for="email">Email: </label>
    <input type="text" name="email" value="">

    <label for="password">Password: </label>
    <input type="password" name="password" value="">

    <input type="submit" value="Login">
</form>