  <% if @current_user == @creator_of_post %>
    <a href="/posts/<%=params[:id]%>/edit"> Edit Post </a>
  <% end %>

  <h1><%= @post.title %></h1>
  <p><%= @post.content %></p>

  <br>

  <div id="nav">
    <a href="/home">Home</a> |  <a href="/logout">Log Out</a>  |  <a href="/posts">See Your Posts</a>  |  <a href="/posts/new">Create New Post</a>  |  <a href="/friends-posts">See Friends' Posts</a>
</div>
  

  

