<div class="signup">

    <h1>Welcome to the Blog Post App!</h1><br>

    <b>Sign Up:</b><br><br>
    <form action="/signup" method="post">
        <label for="email">Email: </label>
        <input type="text" name="email" value="">

        <label for="password">Password: </label>
        <input type="password" name="password" value="">

        <input type="submit" value="Sign Up">
        <br>
        <br>
        <br>
        <b>...or Log In</b> <a href="/login"><b>Here</b></a>
    </form>

</div>